<!DOCTYPE html>
<html>
  <head>
    <title>Ooify</title>
    <script>window.black_logo = "<%= image_url("black_logo.png")%>"</script>
    <script>window.white_logo = "<%= image_url("white_logo.png")%>"</script>
    <script src="https://kit.fontawesome.com/9facb45259.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black" rel="stylesheet" type="text/css"/>
    <%= favicon_link_tag asset_path('ooify_logo.png')%>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Ooify" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="A clone of the popular music streaming app Spotify."
     />
     <meta property="og:url"
       content="http://ooify.herokuapp.com/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
